.git
node_modules
.turbo
.next
dist
coverage
.cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/apps/*/.next
/apps/*/dist
/apps/*/coverage
/packages/*/dist
/packages/*/coverage
*.tsbuildinfo
Dockerfile.dev
