# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:postgres@localhost:15432/livesey?schema=public

# Redis connection URL
REDIS_URL=redis://:redis@localhost:6379

# Factory contract address
FACTORY_ADDRESS=0xb5ef5d1F69A18d86098d58fE5F353621B0e37fCf
BACKEND_URL=http://localhost:3002/api
CHAIN_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/eYq2Ncl_xa2SB_1KWreti
CHAIN_ID=11155111


# Ethereum Sepolia RPC URL
NEXT_PUBLIC_ALCHEMY_API_KEY=eYq2Ncl_xa2SB_1KWreti
NEXT_PUBLIC_FACTORY_ADDRESS=0xb5ef5d1F69A18d86098d58fE5F353621B0e37fCf
NEXT_PUBLIC_ERC20_IMPLEMENTATION_ADDRESS=0x380025F0971CFfe408269A12DC5C456456B53126
NEXT_PUBLIC_BACKEND_URL=http://localhost:3002/api
NEXT_PUBLIC_OUR_ERC20_DECIMALS=6