# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/livesey?schema=public

# Redis connection URL
REDIS_URL=redis://:redis@localhost:6379

# RPC URL for Ethereum Sepolia network
CHAIN_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/eYq2Ncl_xa2SB_1KWreti

# Etherscan API key for contract verification
CHAIN_ID=11155111

# Factory contract address
FACTORY_ADDRESS=0xD2f55C1E7E004E203B3738c2a5f851C2B4e36305