# Back-end running port 
PORT = 5686

# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/livesey?schema=public

# Redis connection URL
REDIS_URL=redis://:redis@localhost:6379